<md-dialog aria-label="Remove Category" md-theme="docs-dark">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Category Remove</h2>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <p>Are you sure you want to delete category with name {{title}}?</p>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">

            <span flex></span>
            <md-button ng-click="cancel()" class="md-raised md-primary">
                <span>Cancel</span>
            </md-button>
            <md-button ng-click="remove()" class="md-raised md-warn">
                <span>Remove</span>
            </md-button>

        </md-dialog-actions>
    </form>
</md-dialog>