
<md-toolbar layout="row" layout-padding>
    <div class="md-toolbar-tools">

        <md-icon md-svg-src="assets/icons/ic_menu_white_18px.svg"
                 aria-label="Open Menu"
                ng-click="openMenu('left')"
                hide-gt-sm
                style="margin-right: 24px"></md-icon>

        <h2 class="md-flex">Test App</h2>

        <div flex></div>

    </div>
</md-toolbar>