

    <md-sidenav layout-fill
            class="md-sidenav-left"
            md-component-id="left"
            md-is-locked-open="$mdMedia('gt-sm')"
            md-whiteframe="4"
            id="inkoopMenu">

        <md-content>
            <md-button md-no-ink class="md-primary"
                       layout="row" layout-align="start center" layout-padding
                       ui-sref="home"
                       ng-click="closeNav('left')"
                       ng-class="{ active: isCurrentPath('/') }">

                <md-icon md-svg-src="assets/icons/sidenav/ic_dashboard_green_18px.svg"
                         aria-label="Dashboard"></md-icon>
                <span>Dashboard</span>
                <!--<md-icon md-svg-src="assets/icons/sidenav/ic_dashboard_white_18px.svg"-->
                         <!--aria-label="Dashboard"></md-icon>-->
                <!--<span>Dashboard</span>-->

            </md-button>
            <md-button md-no-ink class="md-primary"
                       layout="row" layout-align="start center" layout-padding
                       ui-sref="home.categories"
                       ng-click="closeNav('left')"
                       ng-class="{ active: isCurrentPath('/categories') }">

                <md-icon md-svg-src="assets/icons/sidenav/ic_style_green_18px.svg"
                         aria-label="Category"></md-icon>
                <span>Categories</span>

            </md-button>
            <md-button md-no-ink class="md-primary"
                       layout="row" layout-align="start center" layout-padding
                       ui-sref="home.users"
                       ng-click="closeNav('left')"
                       ng-class="{ active: isCurrentPath('/users') }">

                <md-icon md-svg-src="assets/icons/sidenav/ic_people_green_18px.svg"
                         aria-label="User"></md-icon>
                <span>Users</span>

            </md-button>
        </md-content>

    </md-sidenav>
