
    <div layout="column" layout-gt-sm="row" layout-wrap layout-align="space-around"
         layout-padding layout-margin layout-fill
         flex style="background-color: #fafafa; color: grey" ng-cloak>





        <md-whiteframe class="md-whiteframe-1dp" layout layout-align="center center">
            <span>User profile 1</span>
        </md-whiteframe>

        <md-whiteframe class="md-whiteframe-4dp" layout layout-align="center center">
            <span>User profile 2</span>
        </md-whiteframe>

        <md-whiteframe class="md-whiteframe-8dp" layout layout-align="center center">
            <span>User profile 3</span>
        </md-whiteframe>

        <md-whiteframe class="md-whiteframe-12dp" layout layout-align="center center">
            <span>User profile 4</span>
        </md-whiteframe>

    </div>