<md-dialog aria-label="Add Category" md-theme="docs-dark"
        id="addCategory">
    <form layout="column" name="categoryForm" novalidate>

        <md-toolbar layout-padding layout="row">
            <div class="md-toolbar-tools">
                <h2>{{categoryTitle}}</h2>
                <span flex></span>
                <md-button class="md-icon-button " ng-click="cancel()">
                    <md-icon md-svg-src="assets/icons/ic_clear_white_18px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content layout-padding>

            <md-tabs md-dynamic-height md-border-bottom layout-padding>

                <md-tab label="Box name and icons">
                    <div layout="column">

                        <md-input-container>
                            <label>Title</label>
                            <input type="text" ng-model="category.title" required>
                            <md-icon md-svg-src="assets/icons/category/ic_info_outline_grey_blue_24px.svg" class="icon">
                                <md-tooltip md-direction="right">Title field is mandatory.</md-tooltip>
                            </md-icon>
                        </md-input-container>

                        <md-input-container>
                            <label>Icon</label>
                            <input type="text" ng-model="category.icon" required>
                            <md-icon md-svg-src="assets/icons/category/ic_info_outline_grey_blue_24px.svg" class="icon">
                                <md-tooltip md-direction="right">Icon field is mandatory.</md-tooltip>
                            </md-icon>
                        </md-input-container>

                        <md-input-container>
                            <label>Form type</label>
                            <md-select ng-model="category.type" required>
                                <md-option ng-repeat="type in types" ng-value="type">
                                    {{type}}
                                </md-option>
                            </md-select>
                            <md-icon md-svg-src="assets/icons/category/ic_info_outline_grey_blue_24px.svg" class="icon">
                                <md-tooltip md-direction="right">Type field is mandatory.</md-tooltip>
                            </md-icon>
                        </md-input-container>

                        <md-input-container>
                            <label>Short Description</label>
                            <input type="text" ng-model="category.description">
                            <md-icon md-svg-src="assets/icons/category/ic_info_outline_grey_blue_24px.svg" class="icon">
                                <md-tooltip md-direction="right">Discription field can be empty.</md-tooltip>
                            </md-icon>
                        </md-input-container>

                    </div>
                </md-tab>

                <md-tab label="Links">

                    <!--    Table  -->
                    <md-table-container>
                        <table md-table>
                            <thead md-head>
                                <tr md-row>
                                    <th md-column md-numeric md-order-by="title"><span>Title</span></th>
                                    <th md-column md-numeric md-order-by="url">Url</th>
                                    <th md-column></th>
                                </tr>
                            </thead>
                            <tbody md-body>
                                <tr md-row md-select="link" md-select-id="name" md-auto-select>
                                    <td md-cell>link title</td>
                                    <td md-cell>link url</td>
                                    <td md-cell layout="row" layout-align="end end" style="padding: 0">
                                        <md-button flex md-no-ink class="md-warn">
                                            <md-icon md-svg-src="assets/icons/ic_delete_white_18px.svg"
                                                     aria-label="Remove Category"></md-icon>
                                        </md-button>
                                    </td>
                                </tr>
                                <tr md-row md-select-id="name">
                                    <td md-cell>link title 2</td>
                                    <td md-cell>link url 2</td>
                                    <td md-cell layout="row" layout-align="end end" style="padding: 0">
                                        <md-button flex md-no-ink class="md-warn">
                                            <md-icon md-svg-src="assets/icons/ic_delete_white_18px.svg"
                                                     aria-label="Remove Category"></md-icon>
                                        </md-button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </md-table-container>

                    <md-toolbar class="md-table-toolbar md-default" layout-align="center start"
                                style="background-color: transparent">
                        <md-button class="md-primary" ng-click="addBool=!addBool">Add new link</md-button>
                    </md-toolbar>

                    <section ng-show="addBool" layout="column">
                        <md-input-container>
                            <label>Title</label>
                            <input type="text" ng-model="link.title" md-autofocus>
                        </md-input-container>

                        <md-input-container>
                            <label>Url</label>
                            <input type="text" ng-model="link.url">
                        </md-input-container>
                    </section>

                </md-tab>

                <!--<md-tab label="Documents">-->

                <!--</md-tab>-->

                <!--<md-tab label="Content">-->
                    <!--<text-angular ng-model="htmlVariable"></text-angular>-->
                    <!--<md-input-container class="md-block">-->
                        <!--<textarea md-maxlength="250" rows="9" md-select-on-focus placeholder="Test"></textarea>-->
                    <!--</md-input-container>-->
                <!--</md-tab>-->

            </md-tabs>
        </md-dialog-content>

        <md-dialog-actions layout="row">

            <span flex></span>
            <md-button ng-click="cancel()" class="md-raised md-primary">
                <span>Cancel</span>
            </md-button>
            <md-button ng-click="categoryAction(category)" class="md-raised md-warn" ng-disabled="categoryForm.$invalid">
                {{buttonTitle}}
            </md-button>

        </md-dialog-actions>

    </form>
</md-dialog>