

#content {
    overflow: auto !important;
}

#content md-toolbar {
    position: fixed;
}

#content md-toolbar {
    height: 84px;
    margin-bottom: 0;
}

md-sidenav.md-whiteframe-4dp {
    box-shadow: none;
}

md-sidenav a {
    /*font-weight: bolder !important;*/
    margin: 0 !important;
    border-radius: 0 !important;
}

md-sidenav md-icon {
    height: 40px;
    width: 40px;
    display: inline !important;
}

md-sidenav .active,
md-sidenav .active:hover {
    background-color: #FAFAFA !important;
    /*font-weight: bolder;*/
}

/*.md-button.md-docs-dark-theme:not([disabled]).md-focused, .md-button.md-docs-dark-theme:not([disabled]):hover {*/
    /*background-color: white;*/
/*}*/

md-sidenav md-icon {
    margin: auto 0;
}




#categories md-toolbar{
    background-color: #FAFAFA;
}

#categories md-toolbar button,
#addCategory md-toolbar button {
    color: #2196F3;
}

/*Filter*/
/*#categories md-toolbar:first-child button {*/
    /*margin: 0;*/
    /*padding: 0;*/
    /*border-radius: 0;*/
/*}*/

/*.selected-button {*/
    /*font-weight: bold !important;*/
    /*color: white !important;*/
    /*background-color: #F8531F !important;*/
/*}*/


#categories md-table-container {
    padding-top: 95px;
}

#categories table tbody tr:hover {
    background-color: whitesmoke;
    cursor: pointer;
    outline: none;
}

#categories table td button {
    margin: 0;
    margin-left: 11px;
    padding: 6px;
}
#categories table td button:hover {
    background-color: #FE5621;
}

#categories table td,
#categories table th {
    padding-right: 0;
}

md-dialog {
    min-width: 533px !important;
}


table.md-table td.md-cell {
    color: #808080 !important;
}


md-input-container:not(.md-input-invalid).md-input-focused .md-input {
    border-color: #2196F3;
}


#categories md-input-container input,
#categories md-input-container .md-placeholder{
    color: #2196F3 !important;
    font-size: 16px;
}