
<div id="categories" layout="column">

    <!--    Filter  -->
    <!--<md-toolbar class="md-table-toolbar md-default" layout-align="stretch stretch" layout="row">-->
        <!--<md-button class="md-warn" aria-label="type1" flex-->
                   <!--ng-click="type1 = !type1" ng-class="{'selected-button' : type1}">-->
            <!--type 1-->
        <!--</md-button>-->
        <!--<md-button class="md-warn" aria-label="type2" flex-->
                   <!--ng-click="type2 = !type2" ng-class="{'selected-button' : type2}">-->
            <!--type 2-->
        <!--</md-button>-->
        <!--<md-button class="md-warn" aria-label="type3" flex-->
                   <!--ng-click="type3 = !type3" ng-class="{'selected-button' : type3}">-->
            <!--type 3-->
        <!--</md-button>-->
    <!--</md-toolbar>-->

    <!--    Categories Toolbar  -->
    <md-toolbar class="md-table-toolbar md-default"
                layout-padding layout="row">
        <md-button md-no-ink class="md-primary" ng-click="createCategory()">Add Category</md-button>
        <div flex></div>
        <md-input-container md-no-float md-theme="docs-light" class="md-block">
            <!--<label>Search</label>-->
            <md-icon md-svg-src="assets/icons/ic_search_white_18px.svg"></md-icon>
            <input type="text" ng-model="searchQuery" placeholder="Search categories">
        </md-input-container>
        <div flex="15"></div>
    </md-toolbar>

    <!--    Table  -->
    <md-table-container>
        <table md-table class="example-animate-container">
            <thead md-head md-order="query.order" md-on-reorder="getCategories">
                <tr md-row>
                    <th md-column><span>Icon</span></th>
                    <th md-column md-numeric md-order-by="title"><span>Title</span></th>
                    <th md-column md-numeric md-order-by="datec">Date created</th>
                    <th md-column md-numeric md-order-by="datem">Date modified</th>
                    <th md-column md-numeric md-order-by="type">Form type</th>
                    <th md-column></th>
                </tr>
            </thead>
            <tbody md-body>
                <tr ng-click="updateCategory(category, categories.indexOf(category))" md-row md-select="category" md-select-id="category.title"
                    ng-repeat="category in categories | orderBy:query.order | filter:searchQuery"
                    class="animate-repeat">
                    <td md-cell>
                        <md-icon md-svg-src="{{category.icon}}.svg" aria-label="icon"></md-icon>
                    </td>
                    <td md-cell>{{category.title}}</td>
                    <td md-cell>{{category.datec}}</td>
                    <td md-cell>{{category.datem}}</td>
                    <td md-cell>{{category.type}}</td>
                    <td md-cell layout="row" layout-align="end end">
                        <md-button flex md-no-ink class="md-warn" ng-click="confirmDelete(category, $event)"
                                   ng-mouseover="hoverIn()" ng-mouseleave="hoverOut()">
                            <md-icon ng-hide="hoverEdit" md-svg-src="assets/icons/ic_delete_grey_18px.svg" aria-label="Remove Category grey"></md-icon>
                            <md-icon ng-show="hoverEdit" md-svg-src="assets/icons/ic_delete_white_18px.svg" aria-label="Remove Category"></md-icon>
                        </md-button>
                    </td>
                </tr>
            </tbody>
        </table>
    </md-table-container>

    <!--<md-table-pagination md-limit="query.limit"-->
                         <!--md-limit-options="[5, 10, 15, 20]"-->
                         <!--md-page="query.page"-->
                         <!--md-total="{{categories.length}}"-->
                         <!--md-label="{page: 'Page:', rowsPerPage: 'Categories per page:', of: 'of'}"-->
                         <!--md-on-paginate="getCategories"-->
                         <!--md-page-select-->
                         <!--md-boundary-links="true"></md-table-pagination>-->

</div>