
<section layout layout-align="start start" layout-fill>
    <md-card>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Dashboard</span>
                <span class="md-subhead">admin</span>
            </md-card-title-text>
            <md-card-title-media>
                <div class="md-media-lg card-media">

                </div>
            </md-card-title-media>
        </md-card-title>
    </md-card>
</section>